<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col">
            <div class="card text-center border-success mt-2" style="width: 35rem;" >
                <div class="card-header text-success" >
                    Encuentra las palabras
                </div>
                <div class="card-body">
                    <div class="row" *ngFor="let row of matrix; let i = index">
                        <div class="col" >
                            <button 
                                *ngFor="let col of row; let j = index" 
                                style="width: 40px; height: 40px;" 
                                type="button" 
                                class="m-1 btn btn-outline-secondary"
                                (click)="onValueLetter(col,i+''+j, $event)"
                                id="{{'btn' + i + j}}"
                            >{{col}}</button>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h1>Sopa de letras!</h1>
            <div class="card text-center border-success mt-2" style="width: 35rem; border-color: #7952b3;" >
                <div class="card-header text-success" >
                    Lista de palabras
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" *ngFor="let item of palabras;">
                        <li class="list-group-item" id="{{'txt' + item}}">{{item}}</li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>
