<div class="container" >
    <div class="row mt-2">
        <div class="col-sm" >
            <button (click)="onLogOut()">LogOut</button>
            <h2>Games</h2>
            <button [routerLink]="['/home/ahorcado']">Ahorcado</button><br>
            <button class="mt-2" [routerLink]="['/home/mayoromenor']">Mayor o Menor</button><br>
            <button class="mt-2" [routerLink]="['/home/preguntados']">Preguntados</button><br>
            <button class="mt-2" [routerLink]="['/home/sopadeletras']">Sopa de letra</button>
        </div>
        <div class="col-sm">
            <app-chat></app-chat>
        </div>
    </div>
</div>
